@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("./fonts/gt-washleim/GT-Walsheim-otf/GT-Walsheim-Black-Trial.otf");
  font-weight: 800;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("./fonts/gt-washleim/GT-Walsheim-otf/GT-Walsheim-Bold-Trial.otf");
  font-weight: 700;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("./fonts/gt-washleim/GT-Walsheim-otf/GT-Walsheim-Light-Trial.otf");
  font-weight: 300;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("./fonts/gt-washleim/GT-Walsheim-otf/GT-Walsheim-Medium-Trial.otf");
  font-weight: 500;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("./fonts/gt-washleim/GT-Walsheim-otf/GT-Walsheim-Regular-Trial.otf");
  font-weight: 400;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("./fonts/gt-washleim/GT-Walsheim-otf/GT-Walsheim-Thin-Trial.otf");
  font-weight: 200;
}

.gt-walsheim {
  font-family: "GT Walsheim";
}

@keyframes pulse-glow {
  0%,
  100% {
    filter: drop-shadow(0 0 20px #3b82f6);
  }
  50% {
    filter: drop-shadow(0 0 40px #3b82f6);
  }
}
.animate-pulse {
  animation: pulse-glow 2s infinite;
}
